* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

h2 {
    color: #555;
    margin-left: 20px;
}

h3 {
    color: #666;
    margin-left: 20px;
    justify-self: center;
}

p {
    margin-left: 20px;
    color: #444;
}

li{
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a09f9f;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.inventory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.inventory-form form {
    display: flexbox;
    flex-direction: column;
    width: 300px;
}

.inventory-form img {
    display: flexbox;
    align-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.inventory-form p {
    font-style: italic;
    color: #333;
}

#inventorySummary li {
    display: flexbox;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}


#totalQuantity, #totalValue {
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    background-color: #e2e2e2;
}

/* styles.css:

    Contain all of your project’s CSS; no inline styles or <style> blocks in the HTML (except very small, justified exceptions).

    Target at least:

        One id selector

        Two or more class selectors

    Define default font styles for the page.

    Include at least one CSS animation or transition, applied to an element (such as hover effect, button animation, image fade-in, or a class that is toggled via JavaScript).

    Validate with the W3C CSS validator and fix any major errors. */
