* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #aed0fc;
    padding-bottom: 200px;
}


h1 {
    text-align: center;
    color: #1900ff;
    margin-top: 20px;
}

h2 {
    color: #0020af;
    margin-left: 20px;
}

h3 {
    color: #1b013d;
    margin-left: 20px;
    justify-self: center;
}

p {
    display: block;
    margin-left: 80px;
    color: #444;
}

li{
    margin: 10px 0;
    padding: 10px;
    background-color: #d4eeff;
    border: 1px solid #888888;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a09f9f;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.add-button {
    display: block;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.inventory-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.inventory-form form {
    width: 300px;
}

.inventory-form img {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.inventory-form p {
    font-style: italic;
    color: #333;
}

#inventorySummary {
    display: block;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

#inventorySummary li {
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    align-self: center;
}

#totalQuantity, #totalValue {
    font-weight: bold;
    margin: 10px 20%;
    padding: 10px;
    background-color: #e2e2e2;
    max-width: 60%;
}

.hover-x {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.hover-x:hover {
    transform: scale(1.4); 
}